﻿@using BizsolTech.Chatbot.Models;
@model IEnumerable<BizsolTech.Chatbot.Models.BusinessModel>

@{
    ViewBag.Title = "Business List";
    Layout = "_Layout";
}

<div class="col col-md-12">
    <h2>Business List</h2>

    <div class="table-responsive">
        <table id="businessGrid" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Business Name</th>
                    <th>Description</th>
                    <th>Instruction</th>
                    <th>Open AI</th>
                    <th>Open AI Status</th>
                    <th>Facebook Page Id</th>
                    <th>Facebook Access Token</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var business in Model)
                {
                    <tr>
                        <td>
                            <a href="@business.EditUrl">@business.BusinessName</a>
                        </td>
                        <td>@business.Description</td>
                        <td>@business.Instruction</td>
                        <td>@business.OpenAPIKey</td>
                        <td>@business.OpenAPIStatus</td>
                        <td>@business.FBPageId</td>
                        <td>@business.FBAccessToken</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script sm-target-zone="scripts" data-origin="business-grid">
    $(document).ready(function () {
        $('#businessGrid').DataTable({
            // Add any additional configurations you need for DataTables
        });
    });
</script>
