﻿@using BizsolTech.Chatbot.Models;
@model IEnumerable<BizsolTech.Chatbot.Models.BusinessModel>

@{
    ViewBag.Title = "Business List";
    Layout = "_Layout";
}

<style>
    #businessGrid th,
    #businessGrid td {
        width: 100px; /* not working dk why :( */
    }
</style>

<widget target-zone="stylesheets">
    <link rel="stylesheet" href="@Url.Content("~/modules/BizsolTech.Chatbot/css/jquery.dataTables.min.css")" />
</widget>
<widget target-zone="head_scripts">
    <script src="@Url.Content("~/modules/BizsolTech.Chatbot/js/jquery.dataTables.min.js")"></script>
</widget>

<div class="col col-md-12">
    <div class="row" style="justify-content:space-between; padding-bottom:10px;">
        <div class="col-md-2"> <h2>Business List</h2> </div>
        <div class="col-md-2" style="text-align: right;">
            <button id="add-business" class="btn btn-primary" type="button">Add new</button>
        </div>
    </div>

    <div class="table-responsive">
        <table id="businessGrid" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Business Name</th>
                    <th>Open AI Status</th>
                    <th>Facebook Callback</th>
                    <th>Messenger Status</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var business in Model)
                {
                    <tr>
                        <td>
                            <a href="@business.EditUrl">@business.BusinessName</a>
                        </td>
                        <td>
                            @if (business.OpenAPIStatus)
                            {
                                <i class="fas fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fas fa-times text-danger"></i>
                            }
                        </td>
                        <td>@business.FBCallbackUrl</td>
                        <td>
                            @if (business.FBStatus)
                            {
                                <i class="fas fa-check text-success"></i>
                            }
                            else
                            {
                                <i class="fas fa-times text-danger"></i>
                            }
                        </td>
                        <td>
                            <div>
                                <span class="delete-icon" onclick="deleteBusiness('@Url.Action("DeleteBusiness", "Business", new { businessId = business.Id})')">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script sm-target-zone="scripts" data-origin="business-grid">
    $(document).ready(function () {
        var businessGrid = $('#businessGrid').DataTable();

        // Add copy-to-clipboard button for each row in the "Facebook Callback" column
        $('#businessGrid tbody').on('mouseenter', 'td:nth-child(3)', function () {
            var cell = businessGrid.cell(this);
            var cellValue = cell.data();
            var copyButton = $('<button class="btn btn-secondary btn-sm"><i class="fas fa-copy"></i></button>');

            // Append the copy button to the cell
            $(this).html(cellValue).append(copyButton);

            // Click event for the copy button
            copyButton.on('click', function (event) {
                event.stopPropagation(); // Prevents the table row click event
                copyToClipboard(cellValue);
            });
        });

        $('#businessGrid tbody').on('mouseleave', 'td:nth-child(3)', function () {
            var cell = businessGrid.cell(this);
            var cellValue = cell.data();

            // Remove the copy button when mouse leaves the cell
            $(this).html(cellValue);
        });

        $('#add-business').on('click', function () {
            window.location.href = '@Url.Action("Index", "Business")';
        });
    });

    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function () {
            displayNotification('Text successfully copied to clipboard', 'warning');
        }).catch(function (err) {
            displayNotification('Unable to copy text to clipboard', 'error');
        });
    }

    function deleteBusiness(url) {
        if (confirm("Are you sure you want to delete this business?")) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function () {
                },
                error: function () {
                    alert('Error deleting business.');
                }
            });
        }
    }
</script>
