@using BizsolTech.Chatbot.Models;
@model BusinessModel

@{
    Layout = "_Layout";
}

<style>
    .row {
        margin-bottom: 10px;
    }
</style>

<widget target-zone="teaser">
    <partial name="ChatStep" model="new ChatStepModel { ChatProgressStep = ChatProgressStep.Response }" />
</widget>

<form method="post" id="chat-response-form">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="BusinessId" />
    <input type="hidden" asp-for="BusinessName" />
    <input type="hidden" asp-for="WelcomeMessage" />
    <input type="hidden" asp-for="Description" />
    <input type="hidden" asp-for="Instruction" />
    <input type="hidden" asp-for="Documents" />
    <input type="hidden" asp-for="OpenAPIKey" />
    <input type="hidden" asp-for="AzureOpenAPIKey" />
    <div class="admin-content">
        <div class="col col-md-6">
            <div class="row" style="padding-left: 15px;">
                <a href="@Url.Action("ChatConnection", "Business")" class="btn btn-outline-secondary btn-sm btn-icon mr-3" title="Back to step two"><i class="fa fa-arrow-left"></i></a>
            </div>
            <div class="row" style="justify-content: flex-end;">
                <div class="col-md-3" id="key-status-div" style="display:none;">
                </div>
            </div>
            <div class="row">
                <div class="adminTitle col-md-3">
                    <smart-label asp-for="FBCallbackUrl" />
                </div>
                <div class="adminData col-md-9">
                    <div class="input-container" data-clipboard-text="@Model.FBCallbackUrl">
                        <div class="input-group">
                            <input class="key form-control" asp-for="FBCallbackUrl" placeholder="Facebook Callback Url" disabled />
                            <button class="btn btn-secondary btn-sm clipboard-btn" type="button" style="display:none"><i class="fas fa-copy"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="adminTitle col-md-3">
                    <smart-label asp-for="FBWebhookVerifyToken" />
                </div>
                <div class="adminData col-md-9">
                    <div class="input-container" data-clipboard-text="@Model.FBWebhookVerifyToken">
                        <div class="input-group">
                            <input class="key form-control" asp-for="FBWebhookVerifyToken" placeholder="Facebook Webhook Verify Token" disabled />
                            <button class="btn btn-secondary btn-sm clipboard-btn" type="button" style="display:none"><i class="fas fa-copy"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="adminTitle col-md-3">
                    <smart-label asp-for="FBPageId" />
                </div>
                <div class="adminData col-md-9">
                    <input class="key" asp-for="FBPageId" placeholder="Facebook page id" />
                    <span asp-validation-for="FBPageId"></span>
                </div>
            </div>
            <div class="row">
                <div class="adminTitle col-md-3">
                    <smart-label asp-for="FBAccessToken" />
                </div>
                <div class="adminData col-md-9">
                    <input class="key" asp-for="FBAccessToken" placeholder="Facebook access token" />
                    <span asp-validation-for="FBAccessToken"></span>
                </div>
            </div>
            <div class="row" style="justify-content:flex-end;">
                <div class="col-md-2" style="text-align: right;">
                    <button id="btn-test" class="btn btn-primary" type="button" style="display:none" onclick="testConnection()">Connection</button>
                </div>
            </div>
            <div class="row" style="justify-content: flex-end;">
                <div class="col-md-2" style="text-align: right;">
                    <button id="btn-finish" class="btn btn-primary" type="button" style="display:none">Finish</button>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
        </div>
    </div>
</form>

<script>
    var statusDiv = $("#key-status-div");
    var testButton = $("#btn-test");
    var nextButton = $("#btn-finish");

    $(document).ready(function () {
        checkAndShowConnectionButton();

        $('.input-container').hover(
            function () {
                $(this).find('.clipboard-btn').show();
            },
            function () {
                $(this).find('.clipboard-btn').hide();
            }
        );

        $('.clipboard-btn').on('click', function (event) {
            event.stopPropagation(); // Prevents the input container click event
            var clipboardText = $(this).closest('.input-container').data('clipboard-text');
            copyToClipboard(clipboardText);
        });
    });

    $(".key").on("input", function () {
        testButton.show();
    });

    nextButton.on('click', function () {
        window.location.href = '@Url.Action("List", "Business")';
    });

    function testConnection() {

        $.throbber.show({
            message: "Building connection..."
        });

        var formData = $("#chat-response-form").serialize();
        $.ajax({
            url: '@Url.Action("TestFacebookPageConnection")',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.success) {

                    testButton.hide();

                    statusDiv.html("<span style='color: green' title='Success'>Connected</span>");
                    nextButton.show();

                    displayNotification("Facebook connection verified", "success");

                    $.throbber.hide();
                } else {
                    statusDiv.html("<span style='color: red' title='Failed'>Failed</span>");

                    displayNotification("Facebook connection verification error", "error");
                    $.throbber.hide();
                }
                statusDiv.css("text-align", "right");
                statusDiv.show();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                displayNotification(xhr.responseText, "error");
                $.throbber.hide();
            }
        });
    }

    function checkAndShowConnectionButton() {
        var hasValue = false;
        $(".key").each(function () {
            if ($(this).val()) {
                hasValue = true;
                return false; // exit the loop if any field has a value
            }
        });

        if (hasValue) {
            testButton.show();
        }
    }

    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function () {
            displayNotification('Text successfully copied to clipboard', 'warning');
        }).catch(function (err) {
            displayNotification('Unable to copy text to clipboard', 'error');
        });
    }
</script>